<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name=viewport content="width=device-width, initial-scale=1">
  <title>杉並区体育館個人開放検索</title>
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/bootstrap-theme.css">
  <link rel="stylesheet" href="css/fullcalendar.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <nav class="navbar navbar-default navbar-static-top">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">杉並区体育館個人開放検索</a>
    </div>
  </nav>

  <div class="container">
    <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <span class="glyphicon glyphicon-info-sign"></span> このサイトは杉並区の公開情報を元に作成した、体育館個人開放検索アプリです。<br>
      公式の情報はこちらのリンクよりご参照ください。<br>
      <a href="http://www2.city.suginami.tokyo.jp/guide/guide.asp?n1=100&n2=810&n3=150" target="_blank">杉並区　生活ガイド - スポーツ施設の利用（プール・体育館など）</a>
    </div>
    <div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <span class="glyphicon glyphicon-question-sign"></span> 体育館、スポーツ、年月を指定すると、開催日が掲載されたカレンダーが表示されます。<br>
      詳細を確認したい場合は、開催日のスポーツをクリックまたはタップしてください。
    </div>
  </div>

  <div class="container" id="gyms">
    <div class="row" id="search">
      <!-- 選択 -->
      <div class="col-md-12">
        <div class="form-group">
          <label for="select-gym"><span class="glyphicon glyphicon-menu-right"></span> 体育館</label>
          <select id="select-gym" class="form-control"></select>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <label for="select-sport">競技</label>
          <select id="select-sport" class="form-control"></select>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <label for="select-date">年月 <small>※当月の前後2ヶ月を指定できます</small></label>
          <select id="select-date" class="form-control"></select>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <button id="submit" class="form-control btn btn-success"><span class="glyphicon glyphicon-search"></span> 検索</button>
        </div>
      </div>
    </div>
    <div id="result"></div>
  </div>

  <footer class="container" id="footer">
    created by <a href="https://twitter.com/GenTamura84" target="_blank">@GenTamura84</a><br>
    <small>杉並区<b>非</b>公式アプリです<br>お問い合わせはTwitterまでお願いします</small>
  </footer>

  <script id="detail-template" type="text/template">
    <div class="panel panel-default" id="detail">
      <!-- Default panel contents -->
      <div class="panel-heading">検索詳細</div>
      <!-- <div class="panel-body"></div> -->
      <!-- Table -->
      <table class="table table-bordered">
        <tr>
          <th>体育館</th><td id="gym-name"><a href="<%= gymLink %>" target="_blank"><%= gym %></a></td>
        </tr>
        <tr>
          <th>小分類</th><td id="sub-gym-name"><%= subGym %></td>
        </tr>
        <tr>
          <th>スポーツ</th><td id="sport"><%= sport %></td>
        </tr>
        <tr>
          <th>利用日</th><td id="date"><%= date %></td>
        </tr>
        <tr>
          <th>開始時間</th><td id="start"><%= start %></td>
        </tr>
        <tr>
          <th>終了時間</th><td id="end"><%= end %></td>
        </tr>
        <tr>
          <th>アドバイザー</th><td id="adviser"><%= adviser %></td>
        </tr>
      </table>
    </div>
    <button id="back_cal" class="form-control btn btn-success"></span> カレンダーに戻る</button>
  </script>

  <script id="gym-list-template" type="text/template">
    <option value="">選択してください</option>
    <% _.each(gyms, function(gym) { %>
      <option value="<%= gym %>"><%= gym %></option>
    <% }); %>
  </script>

  <script id="sport-list-template" type="text/template">
    <option value="">選択してください</option>
    <% _.each(sports, function(sport) { %>
      <option value="<%= sport %>"><%= sport %></option>
    <% }); %>
  </script>

  <script id="date-list-template" type="text/template">
    <% _.each(dates, function(date) { %>
      <option value="<%= date.value %>" <%= date.selected ? 'selected' : '' %>><%= date.show %></option>
    <% }); %>
  </script>  

  <script src="js/lib/moment.min.js"></script>
  <script src="js/lib/jquery.js"></script>
  <script src="js/lib/footerFixed.js"></script>
  <script src="js/lib/jquery-ui.custom.min.js"></script>
  <script src="js/lib/fullcalendar.min.js"></script>
  <script src="js/locales/ja.js"></script>
  <script src="js/lib/underscore.js"></script>
  <script src="js/lib/backbone.js"></script>
  <script src="js/lib/bootstrap.js"></script>
  <script src="js/models/Gym.js"></script>
  <script src="js/collections/Schedule.js"></script>
  <script src="js/views/CalView.js"></script>
  <script src="js/views/GymListView.js"></script>
  <script src="js/views/SportListView.js"></script>
  <script src="js/views/DateListView.js"></script>
  <script src="js/views/ScheduleView.js"></script>
  <script src="js/app.js"></script>
</body>
</html>