<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>杉並区体育館 平成27年度個人開放検索</title>
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/bootstrap-theme.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div id="gyms">
          <form id="add-gym" action="#">
            <div class="form-group">
              <label for="gym">体育館名</label>
              <select id="gym" class="form-control">
                <option value="永福">永福</option>
                <option value="大宮前">大宮前</option>
                <option value="荻窪">荻窪</option>
                <option value="上井草">上井草</option>
                <option value="高円寺">高円寺</option>
              </select>
            </div>
            <div class="form-group">
              <label for="sub-gym">詳細名</label>
              <select id="subGym" class="form-control">
                <option value="体育室">体育室</option>
                <option value="小体育室">体育室</option>
                <option value="武道場">武道場</option>
              </select>
            </div>
            <div class="form-group">
              <label for="sport">競技名</label>
              <select id="sport" class="form-control">
                <option value="卓球・ラージボール卓球">卓球・ラージボール卓球</option>
                <option value="フェンシング">フェンシング</option>
                <option value="バレーボール">バレーボール</option>
                <option value="ソフトバレーボール">ソフトバーレーボール</option>
                <option value="インディアカ">インディアカ</option>
                <option value="ユニカール">ユニカール</option>
                <option value="バウンドテニス">バウンドテニス</option>
                <option value="ミニテニス">ミニテニス</option>
                <option value="パドルテニス">パドルテニス</option>
                <option value="フットサル">フットサル</option>
                <option value="バスケットボール">バスケットボール</option>
                <option value="ソシアルダンス">ソシアルダンス</option>
                <option value="ダンス">・ダンス</option>
                <option value="バドミントン">バドミントン</option>
                <option value="気功">気功</option>
                <option value="合気道">合気道</option>
                <option value="太極拳">太極拳</option>
                <option value="柔道">柔道</option>
                <option value="空手">空手</option>
                <option value="剣道">剣道</option>
                <option value="なぎなた">なぎなた</option>
                <option value="居合道">居合道</option>
                <option value="武道タイム">武道タイム</option>
              </select>
            </div>
            <div class="form-group">
              <label for="play-time">時間</label>
              <select id="playTime" class="form-control">
                <option value="午前">午前</option>
                <option value="午後">午後</option>
                <option value="夜間">夜間</option>
              </select>
            </div>
            <div class="form-group">
              <label for="num">第○</label>
              <select id="num" class="form-control">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
              </select>
            </div>
            <div class="form-group">
              <label for="day-of-week">曜日</label>
              <select id="dayOfWeek" class="form-control">
                <option value="日">日</option>
                <option value="水">水</option>
                <option value="土">土</option>
              </select>
            </div>
            <div class="form-group">
              <label for="adviser">アドバイザー</label>
              <input type="checkbox" id="adviser" class="form-control" value="true">
            </div>
            <div class="form-group">
              <button id="add">add</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script id="gym-template" type="text/template">
    <%= gym %> | <%= subGym %> | <%= sport %> | <%= playTime %> | <%= num %> | <%= dayOfWeek %> | <%= adviser %> | <button class="delete btn btn-default btn-xs">Delete</button><br>
  </script>
  
  <script src="js/lib/jquery.js"></script>
  <script src="js/lib/underscore.js"></script>
  <script src="js/lib/backbone.js"></script>
  <script src="js/lib/bootstrap.js"></script>
  <script src="js/models/Gym.js"></script>
  <script src="js/collections/Schedule.js"></script>
  <script src="js/views/GymView.js"></script>
  <script src="js/views/ScheduleView.js"></script>
  <script src="js/app.js"></script>
</body>
</html>